/* Global Style */
body,
html {
  color: #ff2483;
  scroll-behavior: smooth;
  font-family: "Blender Pro Bold", sans-serif;
  text-decoration: none;
}

.custom-navbar {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  position: fixed !important;
  background-color: #000000 !important;
  z-index: 2;
}

.custom-navbar .navbar-nav .nav-link {
  position: relative;
}

.custom-navbar .navbar-nav .nav-link.active {
  color: #ed33b9 !important;
}

.custom-navbar .nav-link {
  color: #00c2d1 !important;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.custom-navbar .navbar-toggler {
  border-color: #00c2d1;
}

.custom-navbar .navbar-toggler-icon {
  background-image: url( 
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 194, 209, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.custom-navbar-collapse {
  background-color: #000000 !important;
}
  
.custom-navbar-collapse a:hover {
  color: #ed33b9 !important;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
  
.jumbotron {
  /* Multiple background with no-repeat */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin-bottom: auto;
}

.contentDivider {
  background-color: #000000;
  height: 5vh;
}

.introduction {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 1) 100% ), url(../images/cyberpunk-wallpaper-introduction.jpg);
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.introduction .introContent {
  text-align: justify;
}

.introduction .introContent h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
}

.introduction .introContent h5 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.introduction .contactButton img{
  max-height: 100px;
}

.firstContent {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 1) 0% , rgba(0, 0, 0, 0.8) 30% , rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 1) 100%), url(../images/cyberpunk-wallpaper-content1.jpg);;
  color: #00c2d1;
}

.firstContent h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.firstContent p {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .custom-navbar {
    font-size: 36px;
    position: absolute !important;
    background: transparent !important;
  }
  
  .custom-navbar .navbar-nav .nav-link:hover {
    color: #ff65bd !important;
    transition: all 0.5s ease;
  }

  .custom-navbar .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #ff65bd;
    width: 50%;
    margin: auto;
    padding-bottom: 3px;
    margin-bottom: -6px;
  }

  .custom-navbar .navbar-nav .nav-link.active {
    color: #ff65bd !important;
  }

  .introduction .introContent h1 {
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 8px;
  }
  
  .introduction .introContent h5 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .firstContent h1 {
    font-size: 88px;
    font-weight: bold;
    letter-spacing: 8px;
  }

  .firstContent p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .custom-navbar {
    font-size: 24px;
  }

  .introduction .introContent h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 8px;
  }
  
  .introduction .introContent h5 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}