div.lazy, img.lazy {
  opacity: 0;
}

div:not(.initial), img:not(.initial) {
  transition: opacity 1.5s;
}

div.initial,
div.loaded,
div.error,
img.initial,
img.loaded,
img.error {
  opacity: 1;
}

img:not([src]) {
  visibility: hidden;
}