/* Credit to Tee Diang */
/* Breathe (Coded on iOS) at https://codepen.io/cybercountess/pen/RwNXxyq */

.neon-cyan-text {
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  text-transform: uppercase;
  font-size: 6em;
  color: #85f7ff;
  text-shadow: 0 0 0.6rem #85f7ff, 0 0 1.5rem #00c2d1,
    -0.2rem 0.1rem 1rem #00c2d1, 0.2rem 0.1rem 1rem #00c2d1,
    0 -0.5rem 2rem #0098a3, 0 0.5rem 3rem #0098a3;
  animation: shine-cyan 2s forwards, flicker-cyan 3s infinite;
}

@keyframes blink-cyan {
  0%,
  22%,
  36%,
  75% {
    color: #85f7ff;
    text-shadow: 0 0 0.6rem #85f7ff, 0 0 1.5rem #00c2d1,
      -0.2rem 0.1rem 1rem #00c2d1, 0.2rem 0.1rem 1rem #00c2d1,
      0 -0.5rem 2rem #0098a3, 0 0.5rem 3rem #0098a3;
  }
  28%,
  33% {
    color: #00c2d1;
    text-shadow: none;
  }
  82%,
  97% {
    color: #0098a3;
    text-shadow: none;
  }
}

.very-slow-flicker-cyan {
  animation: shine-cyan 8s forwards, blink-cyan 10s 8s infinite;
}

.slow-flicker-cyan {
  animation: shine-cyan 7s forwards, blink-cyan 9s 7s infinite;
}

.flicker-cyan {
  animation: shine-cyan 6s forwards, blink-cyan 8s 6s infinite;
}

.flicker-cyan-2 {
  animation: shine-cyan 5.5s forwards, blink-cyan 9s 5s infinite;
}

.flicker-cyan-3 {
  animation: shine-cyan 5s forwards, blink-cyan 10s 4s infinite;
}

.fast-flicker-cyan {
  animation: shine-cyan 4.5s forwards, blink-cyan 5s 4s infinite;
}

.very-fast-flicker-cyan {
  animation: shine-cyan 4s forwards, blink-cyan 3s 4s infinite;
}

@keyframes shine-cyan {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #85f7ff;
    text-shadow: 0 0 0.6rem #85f7ff, 0 0 1.5rem #00c2d1,
      -0.2rem 0.1rem 1rem #00c2d1, 0.2rem 0.1rem 1rem #00c2d1,
      0 -0.5rem 2rem #0098a3, 0 0.5rem 3rem #0098a3;
  }
}

@keyframes flicker-cyan {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}